<app-header></app-header>
<h1>Games Admin <button class="glyphicon glyphicon-plus btn btn-success" (click)="showAddRowF()"></button></h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Duration</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf = "showAddRow">
        <td><input type="text" #name class="form-control"></td>
        <td><input type="text" #duration class="form-control"></td>
        <td><input type="text" #capacity class="form-control"></td>
        <td>
          <button class="glyphicon glyphicon-plus btn btn-success" (click)="add(name.value,duration.value,capacity.value)"></button>
        </td>
      </tr>

      <tr *ngFor="let row of games">
        <td><span *ngIf = "!row.isEdited">{{row.name}}</span> <input type="text" *ngIf = "row.isEdited" [(ngModel)]="row.name" class="form-control"></td>
        <td><span *ngIf = "!row.isEdited">{{row.duration}}</span> <input type="text" [(ngModel)]="row.duration" *ngIf = "row.isEdited" class="form-control"></td>
        <td><span *ngIf = "!row.isEdited">{{row.capacity}}</span> <input type="text" [(ngModel)]="row.capacity" *ngIf = "row.isEdited" class="form-control"></td>
        <td>
          <button *ngIf = "!row.isEdited" class="glyphicon glyphicon-pencil btn btn-info" (click)="showEditRow(row)"></button>
          <button *ngIf = "!row.isEdited" class="glyphicon glyphicon-minus btn btn-danger" (click)="delete(row)"></button>

          <button *ngIf = "row.isEdited" class="glyphicon glyphicon-ok btn btn-success" (click)="edit(row)"></button>
          <button *ngIf = "row.isEdited" class="glyphicon glyphicon-remove btn btn-danger" (click)="row.isEdited = !row.isEdited"></button>
        </td>
      </tr>
    </tbody>
  </table>
